Q1.
Given a two list. Create a third list by pickling an odd-index element from the first list and even index from the second.

In [1]:
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
odd=[]
even=[]
listThird=[]
for i in range(0,len(listOne)):
    if i%2!=0:
        odd.append(listOne[i])
print("odd index list is", odd)

for i in range(0,len(listTwo)):
    if i%2==0:
        even.append(listTwo[i])
print("even index list is",even)

listThird.extend(odd)
listThird.extend(even)
print("Final list is", listThird)

odd index list is [6, 12, 18]
even index list is [4, 12, 20, 28]
Final list is [6, 12, 18, 4, 12, 20, 28]

Q2- Given a number count the total number of digits in a number.

In [2]:
a=[1,23,344,4695,5,6524,215,7854123,654]
t=[]
for i in a:
    count=0
    while i>0:
        i=i//10
        count+=1
    t.append(count)
print(t)

[1, 2, 3, 4, 1, 4, 3, 7, 3]

Q3- Write a python program to print the numbers of a specific list after removing even number from it.

In [3]:
a=[]
b=[]
c=[]
while True:
    b=input("enter a element")
    if b=="":
        break
    a.append(int(b))
print(a)

for i in a:
    if i%2==0:
        continue
    c.append(i)
print(c)

enter a element1
enter a element2
enter a element3
enter a element4
enter a element6
enter a element6
enter a element7
enter a element
[1, 2, 3, 4, 6, 6, 7]
[1, 3, 7]

  Q-4.Write a python program to generate and print a list of first and last 5 elements where the value are square of numbers between 1 and 30(both included).

In [4]:
a=[]
c=[]
e=[]
for i in range(1,31):
    a.append(i)
print(a)

for b in a:
    b=b**2
    c.append(b)
print(c)

for d in c:
    if d<=30:
        e.append(d)
print(e)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
[1, 4, 9, 16, 25]

Q-5.Write a python program tp generate all permutions of a list in python.

In [6]:
a=[]
d=[]
z=[]
y=[]
final=[]
while True:
    b=input("enter a input")
    if b=="":
        break
    a.append(int(b))
print(a)

for c in a:
    c=c**2
    d.append(c)
print(d)

for e in d[0:5]:
    if e<=30:
        z.append(e)
print(z)
        
for g in d[: -6:-1]:
    if g<=30:
        y.append(g)
        y.sort()
print(y)

final.extend(z)
final.extend(y)
print(final)

enter a input1
enter a input2
enter a input3
enter a input4
enter a input5
enter a input6
enter a input7
enter a input8
enter a input9
enter a input10
enter a input11
enter a input12
enter a input13
enter a input14
enter a input15
enter a input16
enter a input17
enter a input18
enter a input19
enter a input20
enter a input21
enter a input22
enter a input22
enter a input23
enter a input24
enter a input25
enter a input26
enter a input27
enter a input28
enter a input29
enter a input30
enter a input
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 484, 529, 576, 625, 676, 729, 784, 841, 900]
[1, 4, 9, 16, 25]
[]
[1, 4, 9, 16, 25]

Q6-Write a python program to check whether two lists are circularly identical.

In [7]:
a=[1,1,0,0]  
b=[0,0,1,1] 
e=0
while True:
    c=a[0]
    a.pop(0)
    a.append(c)
    d=len(b)
    e+=1
    if a==b:
        print('two lists are identical')
        break
    
    if e==d:
        print('two lists are not identical')
        break

two lists are identical

q7-Write a python program to change the position of every n-th value with the (n+1)th in a list.

In [8]:
a=[]
while True:
    e=input("Enter data:")
    if e=='':
        break
    a.append(int(e))
print(a)
for i in range(0,len(a),2):
    a[i],a[i+1]=a[i+1],a[i]
print(a)

Enter data:1
Enter data:2
Enter data:3
Enter data:4
Enter data:5
Enter data:6
Enter data:7
Enter data:8
Enter data:9
Enter data:10
Enter data:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]

Q-8.
Write a python program to iterate over two lists simultaneously.

In [9]:
z=[1,2,3,4,5]
y=["a","b","c","d","e"]
for i,j in zip(z,y):
    print(i,j)

1 a
2 b
3 c
4 d
5 e

Q9.Write a python program to generate the combination of n distinct objects taken from the elements of a given list.

In [10]:
a=[1,2,3,4,5,6,7,8,9]
ab=[]
for i in a:
    for j in a:
        if i==j:
            continue
        else:
            ab.append([i,j])
print(ab)

[[1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [2, 1], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [3, 1], [3, 2], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [4, 1], [4, 2], [4, 3], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [5, 1], [5, 2], [5, 3], [5, 4], [5, 6], [5, 7], [5, 8], [5, 9], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 7], [6, 8], [6, 9], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 8], [7, 9], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 9], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8]]

Q10- Write a python program to remove duplicates from a list of lists.

In [11]:
a=[[10,20],[40],[30,6,25],[10,20],[33],[40],[20,95]]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(a)
print(sorted(b))

[[10, 20], [40], [30, 6, 25], [10, 20], [33], [40], [20, 95]]
[[10, 20], [20, 95], [30, 6, 25], [33], [40]]