In [3]:
n=int(input("Enter a no: "))
for i in range(1,n+1):#
    for j in range(1,i+1):
        print(j, end=" ")
    print(" ")

Enter a no: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
#pattern3
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
    print(" ")

Enter a no: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
#pattern4
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")
for a in range(1,n):#to print rows
    for b in range(1,n-a+1):#to print coloumns
        print(b, end=" ")
    print(" ")

Enter a no: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
#pattern5.1
n=int(input("Enter a no: "))
for a in range(1,n+1):
    for b in range(1,n-a+2):
        print(b, end=" ")
    print(" ")
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [7]:
s=input("Enter a no: ")

for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [8]:
#pattern 6
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [9]:
#pattern7
n=int(input("Enter a no: "))
for i in range(n,0,-1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [10]:
#pattern8
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(n-j+1, end=" ")
    print(" ")

Enter a no: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [11]:
#pattern9
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+2):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [12]:
#pattern10 floyd's triangle
n=int(input("Enter a no: "))
k=1
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(k, end=" ")
        k+=1
    print(" ")

Enter a no: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [13]:
#pattern11
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i-j+1, end=" ")
    print(" ")

Enter a no: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [14]:
#pattern12
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
        i+=5
    print(" ")

Enter a no: 5
1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [15]:
#pattern13 pascles
n=int(input("Enter a no: "))
for i in range(0,n):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    #for j in range(1,i+1):#to print coloumns
    print(11**i, end=" ")
    print(" ")

Enter a no: 5
     1
    11
   121
  1331
 14641

In [16]:
#pattern14
n=int(input("Enter a no: "))   
for i in range(1, n+1,):
    print(" ")
    for a in range(1,i+1):
        print(a,end=" ")
    for j in range(1,i):#to print coloumns
        print(i-j, end=" ")
    print(" ")

Enter a no: 5

1

1 2 1

1 2 3 2 1

1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [17]:
#pattern15
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,i+1):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1

In [18]:
#pattern16
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,n-i+1):
        print(" ",end="")
    for j in range(1,i+1):#to print coloumns
        print(j, end=" ")
    print(" ")
for i in range(1,n+1):#to print rows
    for a in range(1,i+1):
        print(" ",end="")
    for j in range(1,n+1-i):#to print coloumns
        print(j, end=" ")
    print(" ")

Enter a no: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [19]:
#pattern17
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for a in range(1,i):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(n-j+1, end="")
    print(" ")
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end="")
    print(" ")

Enter a no: 5
54321
 5432
  543
   54
    5
    5
   45
  345
 2345
12345

In [20]:
#pattern18
n=int(input("Enter a no: "))
for i in range(1,n+1):
    for a in range(1,i):
        print(" ",end="")
    for j in range(1,n+2-i):#to print coloumns
        print(j+i-1, end=" ")
    print(" ")
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end=" ")
    print(" ")

Enter a no: 5
1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [21]:
#pattern19
n=int(input("Enter a no: "))
for b in range(1, n+1):#to print rows
    for d in range(n,b,-1):
        print(" ",end="")
    for c in range(1,b+1):#to print coloumns
        print(n-b+c, end=" ")
    print(" ")

Enter a no: 5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

In [22]:
#pattern20
n=int(input("Enter a no: "))   
for i in range(1, n+1,):
    print(" ")
    for b in range(n,i,-1):
        print(" ",end=" ")
    for a in range(1,i+1):
        print(a,end=" ")
    for j in range(1,i):#to print coloumns
        print(i-j, end=" ")
    print(" ")

Enter a no: 5

        1

      1 2 1

    1 2 3 2 1

  1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [23]:
#pattern21
n=int(input("Enter a no: "))
for i in range(1,n+1):#
    for j in range(1,i+1):
        print(j%2, end=" ")
    print(" ")

Enter a no: 5
1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [24]:
#pattern23
n=int(input("Enter a no: "))
for i in range(1,n+1):#to print rows
    for j in range(1,n-i+1):#to print coloumns
        print(1, end=" ")
    for j in range(1,i+1):#to print coloumns
        print(i, end=" ")
    print(" ")

Enter a no: 5
1 1 1 1 1
1 1 1 2 2
1 1 3 3 3
1 4 4 4 4
5 5 5 5 5